.double-size {
    width: 100px;
    height: 100px;
    background-color: aqua;
    transition: transform 0.3s ease;
}

.double-size:hover {
    transform: scale(2);
}

.grow-shrink {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    transition: transform 0.3s ease;
}

.grow-shrink:hover {
    transform: scale(1.5);
}

.grow-shrink:active {
    transform: scale(1.2);
}


.rotate {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    transition: transform 0.5s ease;
}

.rotate:hover {
    transform: rotate(180deg);
}
